@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-background {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }

  .bg-rainbow {
    background: linear-gradient(
      90deg,
      #ed2f2f -1.36%,
      #ff8d07 19.23%,
      #fff73d 39.82%,
      #46c84b 60.41%,
      #2f80ed 76.24%,
      #ab47bc 88.39%,
      #d25ace 100%
    );
  }
}

@layer components {
  .text-0 {
    @apply peer-checked:text-red-500;
  }

  .text-1 {
    @apply peer-checked:text-orange-500;
  }

  .text-2 {
    @apply peer-checked:text-yellow-500;
  }

  .text-3 {
    @apply peer-checked:text-emerald-500;
  }

  .text-4 {
    @apply peer-checked:text-blue-500;
  }

  .text-5 {
    @apply peer-checked:text-indigo-500;
  }

  .text-6 {
    @apply peer-checked:text-violet-500;
  }

  .text-7 {
    @apply peer-checked:text-fuchsia-500;
  }
}
